<div class="">
  <header class="row">
    <div class="col-5">
      <img src="../assets/images/header/logo1.png" />
    </div>
    <div class="col-2"></div>
    <div class="normalText col-1" (click)="scroll('home')">Home</div>
    <div class="normalText col-1" (click)="scroll('service')">Services</div>
    <div class="normalText col-1" (click)="scroll('clients')">Clients</div>
    <div class="normalText col-1" (click)="scroll('pricing')">Pricing</div>
    <div class="normalText col-1" style="padding-right: 0px;flex: 0 0 7.333333%;" (click)="scroll('contact')">Contact</div>
    
    <!-- <div class="gettingStarted col-2">Get Started</div> -->
  </header>
  <section class="sliderSection">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <!-- <div ngxSlickItem class="slide">
        <div class="row sliderContents">
          <div class="col-lg-5 col-md-5">
            <div class="heading">Translation Services</div>
            <div class="subHeading">
              Tired Of Managing Multiple Language Platforms?
            </div>
            <div class="lowerSubHeading">
              Let’sTranslate helps you with translations on demand
            </div>
            <div class="gettingStarted">Get Started</div>
          </div>
          <div class="col-lg-7 col-md-7 lappyImages">
            <img class="laptopImage" src="../assets/images/slider/laptop.png" />

            <img
              class="sectionOne"
              src="../assets/images/slider/onLaptop/BlueBoard.png"
            />
            <div class="sectionTwoWrapper" style="overflow: hidden">
              <div class="sectionTwo"></div>
            </div>
            <img
              class="sectionThree"
              src="../assets/images/slider/onLaptop/letterA.png"
            />

            <img
              class="sectionFour"
              src="../assets/images/slider/onLaptop/YellowBoard.png"
            />
            <img
              class="sectionFive"
              src="../assets/images/slider/onLaptop/YellowBoardText.png"
            />

            <img
              class="sectionSix"
              src="../assets/images/slider/onLaptop/RedBoard.png"
            />
            <img
              class="sectionSeven"
              src="../assets/images/slider/onLaptop/RedBoardText.png"
            />

            <img
              class="sectionEight"
              src="../assets/images/slider/onLaptop/GreenBoard.png"
            />
            <img
              class="sectionNine"
              src="../assets/images/slider/onLaptop/GreenBoardText.png"
            />

            <img
              class="slideOuterOne"
              src="../assets/images/slider/onLaptop/slideOuter.png"
            />

            <div class="slideInnerOneWrapper">
              <div
                class="slideInnerOne"
                [ngStyle]="{ width: slideOneWidth + '%' }"
              >
                &nbsp;
              </div>
            </div>

            <img
              class="slideOuterTwo"
              src="../assets/images/slider/onLaptop/slideOuter.png"
            />
            <div class="slideInnerTwoWrapper">
              <div
                class="slideInnerTwo"
                [ngStyle]="{ width: slideTwoWidth + '%' }"
              >
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ngxSlickItem class="slide">
        <div class="row sliderContents">
          <div class="col-lg-5">
            <div class="heading">Translation Services</div>
            <div class="subHeading">
              Tired Of Managing Multiple Language Platforms?
            </div>
            <div class="lowerSubHeading">
              Let’sTranslate helps you with translations on demand
            </div>
            <div class="gettingStarted">Get Started</div>
          </div>
          <div class="col-lg-7">
            <img
              class="employeeImage"
              src="../assets/images/slider/employee.png"
            />
          </div>
        </div>
      </div> -->

      <div ngxSlickItem class="slide">
        <div class="row sliderContents">
          <div class="col-lg-5">
            <div class="heading">Translation Services</div>
            <div class="subHeading">
              Tired Of Managing Multiple Language Platforms?
            </div>
            <div class="lowerSubHeading">
              Let’sTranslate helps you with translations on demand
            </div>
            <div class="gettingStarted">Get Started</div>
          </div>
          <div class="col-lg-7">
            <img class="mapImage" src="../assets/images/slider/map.png" />
          </div>
          <div class="allManImageSection">
            <div class="first">
              <img class="man" src="../assets/images/slider/man1.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manOne.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="second">
              <img class="man" src="../assets/images/slider/man2.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manTwo.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="third">
              <img class="man" src="../assets/images/slider/man3.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manThree.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="fourth">
              <img class="man" src="../assets/images/slider/man4.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manFourth.display }}
                <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="fifth">
              <img class="man" src="../assets/images/slider/man5.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manFifth.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="sixth">
              <img class="man" src="../assets/images/slider/man6.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manSixth.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="seventh">
              <img class="man" src="../assets/images/slider/man7.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manSeventh.display }}
                <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="eighth">
              <img class="man" src="../assets/images/slider/man8.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manEighth.display }}
                <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin.png"
              />
            </div>

            <div class="ninth">
              <img class="man" src="../assets/images/slider/man9.png" />
              <img class="think" src="../assets/images/slider/think.png" />
              <span class="thinkContent"
                >{{ manNinth.display }} <span class="rightBorder">|</span></span
              >
              <img
                class="thinkPin"
                src="../assets/images/slider/thinkPin2.png"
              />
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </section>
  <section class="whatWeOfferSection container-fluid" id="service">
    <div class="col-lg-12 text-center heading">Our Valued Services</div>
    <div class="col-lg-12 text-center sub-heading">What We Offer</div>
    <div class="row justify-content-md-center content-first">
      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifTranslate.png" />
        <div class="head">Translation</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifTranscription.png" />
        <div class="head">Transcription</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifClosed.png" />
        <div class="head">Subtitling</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center content-first content-second">
      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifMic.png" />
        <div class="head">Dubbling & Voiceover</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifQA.png" />
        <div class="head">Proofreading & QA</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/whatWeOfferImages/ifHire.png" />
        <div class="head">Hire Translators On Demand</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
      </div>
    </div>
  </section>

  <section class="row industriesWeCoverSection">
    <div class="col-5">
      <img class="image1" src="../assets/images/industriesWeCover/Group1.png" />
      <img class="image2" src="../assets/images/industriesWeCover/Group2.png" />
      <img class="image3" src="../assets/images/industriesWeCover/Group3.png" />
      <img class="image4" src="../assets/images/industriesWeCover/Group4.png" />

      <img class="image5" src="../assets/images/industriesWeCover/Group8.png" />
      <img class="image6" src="../assets/images/industriesWeCover/Group7.png" />
      <img class="image7" src="../assets/images/industriesWeCover/Group6.png" />
      <img class="image8" src="../assets/images/industriesWeCover/Group5.png" />

      <img
        class="leftImage"
        src="../assets/images/industriesWeCover/leftImage.png"
      />
    </div>
    <div class="col-6">
      <div class="head">Industries We Cover</div>
      <div class="content">
        We have a number of different teams within our company that specialise
        in different areas of business so you can be sure that you won’t receive
        a generic service and although we can’t boast years and years of service
        we can ensure you that is a good thing in this industry.
      </div>
      <div class="subContent">
        <div class="row">
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Financial/Forex</span>
          </div>
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Travel, Leisure & Hospitality</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Ecommerce</span>
          </div>
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Travel, Legal</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Technology & Software</span>
          </div>
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" /><span>
              Travel, Media, Publishing & Entertainment</span
            >
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" />
            <span>Marketing, SEO & Advertising</span>
          </div>
          <div class="col">
            <img src="../assets/images/industriesWeCover/ifCheck.png" /><span>
              Travel, Gaming</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row companiesSection" id="clients">
    <div class="col-lg-12 text-center heading">Our Valued Services</div>
    <div class="col-lg-12 text-center sub-heading">
      We Have Helped Companie Like
    </div>
    <div class="col-lg-12">
      <div class="row justify-content-md-center content-first">
        <div class="col col-lg-2 text-center">
          <img src="../assets/images/companies/first.png" />
        </div>
        <div class="col col-lg-2 text-center">
          <img
            src="../assets/images/companies/second.png"
            style="margin-top:10px;"
          />
        </div>
        <div class="col col-lg-2 text-center">
          <img
            src="../assets/images/companies/ninth.png"
            style="margin-top:-20px;"
          />
        </div>
        <div class="col col-lg-2 text-center">
          <img
            src="../assets/images/companies/fourth.png"
            style="margin-top:10px;"
          />
        </div>
      </div>
      <div class="row justify-content-md-center content-first content-second">
        <div class="col col-lg-2 text-center">
          <img src="../assets/images/companies/fifth.png" />
        </div>
        <div class="col col-lg-2 text-center">
          <img src="../assets/images/companies/sixth.png" />
        </div>
        <div class="col col-lg-2 text-center">
          <img
            src="../assets/images/companies/tenth.png"
            style="margin-top:30px;"
          />
        </div>
        <div class="col col-lg-2 text-center">
          <img
            src="../assets/images/companies/eight.png"
            style="margin-top:30px;"
          />
        </div>
      </div>
    </div>
    <!-- <div>
      <img class="leftImage" src="../assets/images/companies/leftImage.png" />
    </div> -->
    <div class="col-lg-12"></div>
  </section>
  <section class="row translationServiceSection">
    <div class="col-lg-12 text-center heading">Translation Services</div>
    <div class="col-lg-12 text-center sub-heading">
      <div>Looking For Exclusive Language Translation Services?</div>
    </div>
    <div class="col-lg-12 text-center heading-desc">
      <div>Looking For Exclusive Language Translation Services?</div>
      <div class="text-center getStarted">
        <span>get started</span>
      </div>
    </div>
    <div>
      <img
        class="topRightImage"
        src="../assets/images/languageTranslation/topRight.png"
      />
    </div>
    <div>
      <img
        class="bottomLeftImage"
        src="../assets/images/languageTranslation/bottomLeft.png"
      />
    </div>
  </section>
  <section class="row whyChooseUsSection">
    <div class="col-lg-12 text-center heading">
      Our Services Keeps You Happy
    </div>
    <div class="col-lg-12 text-center sub-heading">Why Choose Us?</div>
    <div class="row justify-content-md-center content-first">
      <div class="col col-lg-3 text-center">
        <img src="../assets/images/chooseUs/first.png" />
        <div class="head">Quality</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
        <div class="readMore"><a>Read more</a></div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/chooseUs/second.png" />
        <div class="head">Competitive Pricing</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
        <div class="readMore"><a>Read more</a></div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/chooseUs/third.png" />
        <div class="head">Quick Turnaround</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
        <div class="readMore"><a>Read more</a></div>
      </div>

      <div class="col col-lg-3 text-center">
        <img src="../assets/images/chooseUs/fourth.png" />
        <div class="head">Dedicated Support</div>
        <div class="content">
          Keep away from people who try to belittle your ambitions. Small people
          always do that but the really great.
        </div>
        <div class="readMore"><a>Read more</a></div>
      </div>
    </div>
  </section>
  <section class="row languagesSection">
    <div class="col-lg-12 text-center heading">
      Our Valued Services
    </div>
    <div class="col-lg-12 text-center sub-heading">Languages We Cover</div>

    <div class="col-lg-12 content-first">
      <div class="row justify-content-md-center">
        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/germany.png" />
          <div class="head">German</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/france.png" />
          <div class="head">French</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/netherlands.png" />
          <div class="head">Dutch</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/russia.png" />
          <div class="head">Russian</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/spain.png" />
          <div class="head">Spanish</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/korea.png" />
          <div class="head">Korean</div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 content-first content-second">
      <div class="row justify-content-md-center">
        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/china.png" />
          <div class="head">Chinese</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/finland.png" />
          <div class="head">Finnish</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/japan.png" />
          <div class="head">Japanese</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/italy.png" />
          <div class="head">Italian</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/poland.png" />
          <div class="head">Polish</div>
        </div>

        <div class="col col-lg-1 text-center">
          <img src="../assets/images/languagesWeCover/egypt.png" />
          <div class="head">Arabic</div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center manyMore">and many more...</div>

    <div>
      <img
        class="topRightImage"
        src="../assets/images/languagesWeCover/topRight.png"
      />
    </div>
    <div>
      <img
        class="bottomLeftImage"
        src="../assets/images/languagesWeCover/bottomLeft.png"
      />
    </div>
  </section>
  <section class="row pricingSection container-fluid" id="pricing">
    <div class="col-lg-12 text-center heading">
      Passionate About Perfection
    </div>
    <div class="col-lg-12 text-center sub-heading">Pricing</div>
    <div class="col-lg-12">
      <div class="row justify-content-md-center card-content">
        <div class="col col-lg-3">
          <div class="col-lg-12">
            <div class="head">Basic</div>
            <div class="pricing">$ 0.05 per word</div>
            <div class="type">Regular Content</div>
            <hr />
            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Internal Communication
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Product Description
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Social Media Post
            </div>

            <div class="choosePlan" style="margin-top: 110px;">Choose plan</div>
          </div>
        </div>
        <div class="col col-lg-1"></div>
        <div class="col col-lg-3 active">
          <div class="col-lg-12">
            <div class="head">Popular</div>
            <div class="pricing">$ 0.07 per word</div>
            <div class="type">Professional Content</div>
            <hr />
            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Webistes
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Technical Articles
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Market Review
            </div>
            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Presentations
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Legal Content
            </div>
            <div class="choosePlan">Choose plan</div>
          </div>
        </div>
        <div class="col col-lg-1"></div>
        <div class="col col-lg-3">
          <div class="col-lg-12">
            <div class="head">Premier</div>
            <div class="pricing">Contact Us</div>
            <div class="type">Custom Content</div>
            <hr />
            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Dubbing
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Transcription & Subtitling
            </div>

            <div class="checkList">
              <img src="../assets/images/industriesWeCover/ifCheck.png" />
              Hiring our inhouse Translator
            </div>

            <div class="choosePlan" style="margin-top: 110px;">Choose plan</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row processSection container-fluid">
    <div class="col-lg-12 text-center heading">
      Process
    </div>
    <div class="col-lg-12 text-center sub-heading">
      <div>
        From the first contact with the client, we take care by assigning a
        personal manager that will be in touch with you up until the job is done
        perfectly.
      </div>
    </div>
    <div class="col-lg-12 text-center processImage">
      <img src="../assets/images/process/group.png" />
    </div>
  </section>
  <section class="row contactUsSection container-fluid" id="contact">
    <div class="col-lg-6 leftSection">
      <div class="mapClass">
        <img src="../assets/images/contactUs/map.png" />
      </div>

      <div class="col-lg-12 heading">
        We Value You
      </div>
      <div class="col-lg-12 sub-heading">
        We’re Here
      </div>
      <div class="col-lg-12 heading">
        Getting your content localized is simple now.
      </div>

      <div class="col-lg-12 emailContact">
        Email: <span class="emailAddressContact">projects@letstranslate.in</span>
      </div>
      <div class="col-lg-12 emailAddressContact">
        
      </div>
    </div>
    <div class="col-lg-6 rightSection">
      <div class="col-lg-12 heading">
        We Value You
      </div>
      <div class="col-lg-12 sub-heading">
        Contact Us
      </div>

      <div class="col-lg-12">
        <form>
          <div class="form-group nameInput">
            <input
              type="text"
              class="form-control"
              id="yourName"
              name="name"
              placeholder="Your Name"
              [(ngModel)]="name"
            />
          </div>

          <div class="form-group emailInput">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email Address"
              [(ngModel)]="email"
              name="email"
            />
          </div>

          <div class="form-group messageInput">
            <textarea
              type="text"
              class="form-control"
              id="email"
              placeholder="Message..."
              rows="10"
              [(ngModel)]="message"
              name="mgs"
            ></textarea>
          </div>
          <div
            class="heading"
            style="margin-left: 190px;"
            *ngIf="showEmailSentMessage"
          >
            Email Sent
          </div>
          <div class="submit" (click)="sendEmail()">Submit</div>
        </form>
      </div>
    </div>
  </section>
</div>
