/* You can add global styles to this file, and also import other style files */
* {
  outline: none;
}
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}
.width-23 {
  width: 23px;
}
.sliderSection{
  outline: none !important;
}